.navbarr {
  background-color: rgba(255, 255, 255, 0.856);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5%;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin-left: 1.5rem;
  position: relative;
}

.nav-link {
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  color: black;

  transition: color 0.3s;
}
